label {
  display: table-row;
  table-layout: auto;
  width:100px;

}

h1 {
  background-image: url("http://www.polyvore.com/cgi/img-thing?.out=jpg&size=l&tid=133751818");
  text-align: center;
  background-position: center;;


}
