label {
  display: block;
  width:100px;

}

.jumbotron {
  background-image: url("http://cache-graphicslib.viator.com/graphicslib/destination/patagonia-132824.jpg");
  height: 200px;
  margin-top: 20px;
  text-align: center;
  text-decoration: underline ;
  background-position: center;
  color: #ccffe6;
  font-size:65px;
  text-shadow: 4px 4px #006633;


}
#dest1{
  display: none;
}
#dest2{
  display: none;
}
#dest3{
  display: none;
}
